repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/RobertCraiworthy/pyright-pre-commit
    rev: v1.1.393
    hooks:
      - id: pyright
        additional_dependencies:
          - asyncpg
          - litellm
          - mcp
